* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* shared styles */

.font-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;  
    background-color: #1A0B2E;  
}
.gradient-text{
    background: linear-gradient(
        90deg,
        #EE1DDA 0%,
        #FF8A5B 45%,
        #8B1FE0 100%
    );
    font-weight: 800;
}
.gradient-btn{
    background: linear-gradient(
        90deg,
        #F7E93F 0%,
        #FB09B4 51%,
        #9100F8 100%
    );
}
.text-center {
    text-align: center;
}
.btn{
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 25px;
    border: none;
    cursor: pointer;

}
.btn:hover{
    transform: translate(-2px);
    box-shadow: #FAFAFA;
}
.btn-2 {
    color: #00FF88;
    font-size: 16px;
    border-radius: 25px;
    border-color: #00FF88;
    padding: 10px 14px;
    background: none;
    margin-left: 8px;
}
h2{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}
p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
/* navbar styles */

.navbar{
    border-bottom: 1px solid #412567;
}
.navbar .container{
    height: 92px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 16px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h1{
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 800;
}

/* nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
nav .menu{
    display: flex;
    list-style: none;
    gap:50px;
    align-items: centre;
}
nav .menu a {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.15s ease;
}
nav .menu a:hover{
    color: #BC1EE3;
}

/* banner styles */
#banner{
    position: relative;
    width: 100%;
    min-height: 760px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.back-pic{
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.banner-content{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-icon{
    position: relative;
    height: 350px;
    width: 350px;
}
.circle{
    width: 100%;
    height: 100%;
    display: block;
}
.mic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.badge{
    position: absolute;
    top: 10px;
    right: 30px;
    background: #00FF88;
    color: #1A0B2E;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 10px;
}
 .banner-info{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.banner-title{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 8px;
    letter-spacing: -0.01em;
}
.banner-text{
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 24px;
}
/* about styles */

#about{
    background-color: #1A0B2E;
    padding: 90px 24px;
    text-align: center;
}

#abcd{
    margin-top: 20px;
}
.divider{
    
    max-width: 1200px;
    border: none;
    border-top: 1px solid rgba(136, 107, 107, 0.2);
    margin: 56px auto 0;
}
.about-info{
    max-width: 1200px;
    display: grid;
    margin: 56px auto 0;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
}
.about-info h2{
    color: #00FF88;
    margin-bottom: 16px;
}
/* feature styles */
#features{
    padding: 120px 200px;
    background-color: #230E3D;
}
.features-container{
    max-width: 1200px;
    margin: 0 auto;
}
.features-heading {
    text-align: center;
    margin-bottom: 40px;
}
.features-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    gap: 30px;
}
.feature-card{
    background-color: #3a1b63;
    border-radius: 30px;
    padding: 40px;
    flex-direction: column;
}
.feature-icon {
    height: 44px;
    width: 44px;
    margin-bottom: 16px;
}
.feature-card h3{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.feature-icon img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}
.card-1 {
    grid-row: span 2;
    grid-column: span 1;
}
.card-2{
    grid-row: span 1;
    grid-column: span 2;
}
.card-4 {
    grid-row: span 1;
    grid-column: span 2;
}
.card-5 {
    grid-row: span 1;
    grid-column: span 1;
}
 /* episode styles */

#episode{ 
    background-color: #1A0B2E;
    padding: 120px 200px;
    text-align: center; 
    align-items: center;
 }
.botm{
    margin-bottom: 40px;
}
.episode-cards{
    width: 1200px;
    display: flex;
    margin: auto;
    justify-content: space-between;
 }
.episode-card{
    width: 380px;
    background-color: #250D44;
    margin-right: 30px;
    overflow: hidden;
    border-radius: 20px;
}
.card-content{
    padding: 24px;
}
.card-content h3{
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 12px;
}
.time{
    margin-top: 12px;
    display: flex;
    justify-content: left;
}
.time p{
    color: #00FF88;
    margin-left: 5px;
} 
.time img{
    width: 20px;
}
.section-2{
    margin: 120px 200px; 
}
.sec_2_heading{
    margin-bottom: 40px;
}
.host{
    min-height: 280px;
    width: 1200px;
    background-color: #250D44;
    border-radius: 40px;
    display: flex;
    padding: 40px;
    align-items: flex-start;
    gap: 24px;
}
.host-content h2{
    margin-bottom: 20px;
    text-align: left;
}
.host-content p{
    line-height: 1.5;
    margin-bottom: 16px;
    text-align: left;
}
.host-image img{
    height: 200px;
    width: 200px;
    
}
.social-links{
    display: flex;
    gap: 20px;
    align-items: center;
}
/* footer-styles */

.footer-container{
    background:url("./images/footer-bg.png");
    background-position: center;
    /* background-size: cover; */
    padding: 120px;
}
.footer-content{
    text-align: center;
    margin: 0px auto;
}
.footer-links{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 32px 0;
}
.footer-links a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    align-items: center;
    text-align: center;
    transition: 0.3s;
}
.footer-links a:hover{
    color: #00FF88;
}
.footer-links img{
    margin-right: 8px;
    object-fit: contain;
    height: 22px;
    width: 22px;
}
.copyright{
    color: #FAFAFA;
}